.section-left-projects {
  text-align: left !important;
}

#planning {
  -moz-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -o-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -webkit-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
}

#visualization {
  -moz-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -o-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -webkit-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
}

#project-management {
  -moz-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -o-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  -webkit-transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
  transition: all 0.2s ease-in, visibility 0s, opacity 0.5s linear;
}

.vendor-box {
  position: relative;
}

.left-service {
  margin-bottom: 20%;
}

.right-service {
  margin-top: 30%;
  text-align: right;
}

.vendor-box img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  object-fit: cover;
  filter: brightness(0.4);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.vendor-box:hover img {
  opacity: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.vendor-box .gold-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    127deg,
    rgba(176, 156, 59, 0.49) 0%,
    rgba(125, 105, 3, 0.28) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  position: absolute;
  top: 2vmax;
  left: 2vmax;
  z-index: 0;
  opacity: 0;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.right-service .gold-bg {
  left: -2vmax;
}

.vendor-box:hover .gold-bg {
  opacity: 1;
}

.vendor-box h3 {
  color: #888888;
  font-size: 1vmax;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.vendor-box:hover h3 {
  color: white;
}

@media screen and (max-width: 900px) {
  .service-section {
    flex-direction: column !important;
  }

  .right-service {
    text-align: left;
    margin-top: auto;
    margin-bottom: 20%;
  }

  .right-service .gold-bg {
    left: 2vmax;
  }

  .vendor-box h3 {
    font-size: 1.75vmax;
  }

  .flex-item-left {
    flex: 0%;
  }
}
